<?xml version="1.0"?>
<connectionStrings >
  <add name="EKP_JSEntities" connectionString="metadata=res://*/EKPModel.csdl|res://*/EKPModel.ssdl|res://*/EKPModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=47.100.203.126;initial catalog=jiaotong;persist security info=True;user id=sa;password=zsnet69.146;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="DBConnectionString" connectionString="Data Source=47.100.203.126;Initial Catalog=jiaotong;User ID=sa;Password=zsnet69.146;" providerName="System.Data.SqlClient"/>
</connectionStrings>