<link href="~/Areas/Base/Scripts/bootstrap/datetimepicker/css/bootstrap-datetimepicker.css" rel="stylesheet" />
<link href="~/Areas/Base/Scripts/bootstrap/datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<script src="~/Areas/Base/Scripts/bootstrap/datetimepicker/js/bootstrap-datetimepicker.js"></script>
<script src="~/Areas/Base/Scripts/bootstrap/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script src="~/Areas/Base/Scripts/bootstrap/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>


<form action="#" id="detal-form" class="form-horizontal" novalidate="novalidate">

    <div class="form-body">
        <div class="form-group">
            <div class="float-left" style="width: 45%">

                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label col-md-4">
                            <span class="required" aria-required="true">* </span>通知标题
                        </label>
                        <div class="col-md-8">
                            @*<p type="text" name="Title" data-required="1" class="form-control"></p>*@
                            <output type="text" name="Title" data-required="1" class="form-control"></output>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label col-md-4">
                            <span class="required" aria-required="true">* </span>发布时间
                        </label>
                        <div class="input-group date form_datetime col-md-8" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
                            <input name="DateTime" class="form-control" size="16" type="text" value="" data-ng-options="formatter : function(data, row, index) {return data.replace('T',' ')}">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                        </div>
                        <input type="hidden" id="dtp_input1" value="" /><br />
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label col-md-4">
                            <span class="required" aria-required="true">* </span>过期时间
                        </label>
                        <div class="input-group date form_datetime col-md-8" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
                            <input name="InvalidDateTime" class="form-control" size="16" type="text" value="" data-ng-options="formatter : function(data, row, index) {return data.replace('T',' ')}">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                        </div>
                        <input type="hidden" id="dtp_input1" value="" /><br />
                    </div>
                </div>
                //内容
                <div class="form-body">
                    <div class="form-group">
                        <label class="control-label col-md-2">内容：</label>
                        <div class="col-md-8">
                            <input class="kindeditor form-control" name="Content" style="height:200px;" />
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        <span class="required" aria-required="true">* </span>通知附件
                                    </label>
                                    <div class="col-md-8" align="right">
                                        <input id="AccessoryID" type="text" name="Accessory" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label col-md-4">
                            <span class="required" aria-required="true">* </span>通知链接
                        </label>
                        <div class="col-md-8">
                            <input type="text" name="Link" data-required="1" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label col-md-4">
                            通知备注 <span class="required" aria-required="true">
                            </span>
                        </label>
                        <div class="col-md-8">
                            <input type="text" name="Remark" data-required="1" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
 //初始化
    //$(function () {
    //    //初始化插件
        KeHelper.create('.kindeditor');
    // 年月日 时分秒
    $('.form_datetime').datetimepicker({
        language: 'zh-CN',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minuteStep: 1,//分钟间隔为1
        maxView: 4, //最高显示到年份
        minView: 0, //最低显示到日
        forceParse: 0,
        format: 'yyyy-mm-dd hh:ii:ss'
    });

    var editor = KindEditor.editor({
        uploadJson: '/Areas/Base/Scripts/kindeditor-4.1.10/asp.net/upload_json.ashx',
        fileManagerJson: '/Areas/Base/Scripts/kindeditor-4.1.10/asp.net/file_manager_json.ashx',
        allowFileManager: true
    });
    KindEditor('#AccessoryID').click(function () {
        editor.loadPlugin('insertfile', function () {
            editor.plugin.fileDialog({
                fileUrl: KindEditor('input[name="Accessory"]').val(),
                clickFn: function (url, title) {
                    KindEditor('input[name="Accessory"]').val(url);
                    $("input[name='Accessory']").val(url);
                    $.ajax({
                        type: "POST",
                        url: "/Notice/Create",
                        data: { url: url },
                        success: function (data) {
                            editor.hideDialog();
                            //$("#grid").datagrid('reload');
                        }
                    });
                }
            });
        });
    });
</script>