<div class="portlet light">
    <div class="portlet-body">
        <div class="row">
            <div class="btn-group col-md-12">
                <ul class="nav nav-pills col-md-8 no-margin-bottom" id="grid-toolbar">

                    <li>
                        <button class="btn blue" onclick="open_create()">
                            <i class="fa fa-plus"></i>
                            新增
                        </button>
                    </li>

                    <li>
                        <button class="btn blue toolbar-data" disabled="disabled" onclick="open_edit()">
                            <i class="fa fa-pencil"></i>
                            编辑
                        </button>
                    </li>
                    <li>
                        <button class="btn blue toolbar-datas" disabled="disabled" onclick="del()">
                            <i class="fa fa-trash"></i>
                            删除
                        </button>
                    </li>
                </ul>
                <div class="form-group col-md-4 margin-bottom-0" id="search">
                    <div class="col-md-offset-2 col-md-10 padding-right-0">
                        <div class="input-group">
                            <input type="text" class="form-control input input-left" name="KeyWord" placeholder="关键字">
                            <span class="input-group-btn">
                                <a href="javascript:;" class="btn btn blue input-right" onclick="btnSearch()">
                                    <i class="fa fa-search"></i> 检索
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="table-scrollable col-md-12">
                    <table id="grid"></table>
                    <table id="gridPager"></table>
                </div>
            </div>
        </div>
    </div>
</div>
@section  body_js{
    <script>
        var menuName = "Adm.Notice.Pager";
        //初始化
        $(function () {
            Metronic.init();
            Layout.init();
            admLayout({ menuName: menuName });
            //列表
            $("#grid").jqGrid({
                url: getUrl("Notice", "Pager"),//获取数据的地址
                pager: "#gridPager",//定义翻页用的导航栏，必须是有效的html元素。翻页工具可以放在页面的任意位置。
                toolbar: "#grid-toolbar",//工具栏或者工具栏
                sortname: "Id",//排序列的名称，此参数会被传到后台
                sortorder: "desc",//排序顺序，升序或者降序（asc or desc）
                colModel: [//ColModel 是jqGrid里最重要的一个属性，设置表格列的属性。
                    { name: 'Id', label: 'Id', key: true, hidden: true },
                    {
                        name: 'Title', label: '标题'
                    ,
                        formatter: function editLink(cellValue, options, rowdata, action) {
                            //return "<a onclick='op_Detail()'>" + rowdata.Title + "</a>";
                            return "<a onclick='op_Detail()'>" + rowdata.Title + "</a>";
                        }
                    },//在jqGrid中添加超链接方法
                   
                     {
                         name: 'ClassIds', label: '通知班级'
                        //,
                        // formatter: function editLink(cellValue, options, rowdata, action) {
                        //     return "<a>" + rowdata.ClassIds + "</a>";
                        // }
                     },
                    {
                        name: 'Accessory', label: '通知附件',
                        formatter: function editLink(cellValue, options, rowdata, action) {
                            return "<a href=" + rowdata.Accessory + ">" + rowdata.AccessoryName + "</a>";
                            //rowdata.Accessory 显示的实际是附件的路径位置，rowdata.AccessoryName显示的是在后台的附件的名字，字符串拼接的过程
                        }
                    },
                    {
                        label: '链接',
                        formatter: function editLink(cellValue, options, rowdata, action) {
                            return "<a  href=" + rowdata.Link + ">" + rowdata.LinkName + "</a>";
                            //同通知附件一样的写法。
                        }
                    },
                     { name: 'DateTime', label: '发布时间', formatter: 'date', formatoptions: { newformat: 'Y-m-d' } },
                    { name: 'InvalidDateTime', label: '过期时间', formatter: 'date', formatoptions: { newformat: 'Y-m-d' } },
                     { name: 'TeacherName', label: '发布人' },
                ],
                onSelectRow: function (rowId) {
                    $("#grid").jqGrid('getGridParam', 'updateToolbar')(this);
                },//onSelectRow当选择行时触发此事件。rowid：当前行id；status：选择状态，当multiselect 为true时此参数才可用

                onSelectAll: function () {
                    $("#grid").jqGrid('getGridParam', 'updateToolbar')(this);
                },//选中某一行刷新上面工具栏按钮的状态

                loadComplete: function () {
                    $("#grid").jqGrid('getGridParam', 'updateToolbar')(this);//getGridParam返回请求的参数信息,updateToolbar
                    $("#grid").jqGrid('getGridParam', 'loadCompleteExt')(this);
                }
                //当从服务器返回响应时执行，xhr：XMLHttpRequest 对象
            });
        });
        //打开添加窗口
        function open_create() {
            $.ajax({
                url: getUrl("Notice", "Create"),//要求为String类型的参数，（默认为当前地址）发送请求的页面。
                dataType: 'html',//要求为String类型的参数，预期服务器返回的数据类型
                type: 'get',////要求为String类型的参数，请求方式（post或get）默认为get
                beforeSend: function () {
                    layer.config({
                        extend: 'extend/layer.ext.js',
                        zIndex: 200
                    });
                    layer.load(0, { shade: false });
                },
                success: function (html) {
                    layer.closeAll("loading");
                    layer.confirm(html, {
                        title: '<i class="fa fa-plus"></i> 通知发布',
                        area: ['900px'],
                        btn: ['<i class="fa fa-save"></i>&nbsp;保存', '<i class="fa fa-times"></i>&nbsp;取消']
                    }, function (v, box) {
                        create();
                    });
                }
            });
        }
        //打开编辑窗口
        function open_edit() {
            var id = $("#grid").jqGrid('getGridParam', 'selrow');//获得选中行的ID 
            $.ajax({
                type: "POST",
                dataType: "json",
                data: { id: id },
                url: getUrl("Notice", "Detail"),
                beforeSend: function () {
                    layer.load(0, { shade: false });
                },
                success: function (data) {
                    $.ajax({
                        url: getUrl("Notice", "Edit"),
                        dataType: 'html',
                        type: 'get',
                        success: function (html) {
                            layer.closeAll("loading");
                            layer.confirm(html, {
                                title: '<i class="fa fa-pencil"></i> 通知修改',
                                area: ['700px'],
                                btn: ['<i class="fa fa-save"></i>&nbsp;保存', '<i class="fa fa-times"></i>&nbsp;取消'],
                            }, function (v, box) {
                                edit();
                            });
                            $("#edit-form .form-control").bindData(data);
                            $("#edit-form input[name='SiteId']").select2("data", { id: data.SiteId, Name: data.SiteName });
                        }
                    });
                }
            });
        }
        //添加
        function create() {
            if (!$('#create-form').formValidation("validate").data("formValidation").isValid()) return;//表单验证
            $.ajax({
                async: true,//要求为Boolean类型的参数，默认设置为true，所有请求均为异步请求。
                type: "post",
                dataType: "json",
                data: $('#create-form').serialize(),//输出序列化表单值的结果
                url: getUrl("Notice", "Create"),
                success: function (data) {
                    $dialogShow(data);
                    if (data.Type == "Success") {
                        $("#grid").trigger('reloadGrid');//trigger规定被选元素要触发的事件，jQuery("#grid_id").trigger("reloadGrid");重新加载jqGrid中的数据j
                    }
                }
            });
        }
        //编辑
        function edit() {
            if (!$('#edit-form').formValidation("validate").data("formValidation").isValid()) return;
            $.ajax({
                async: true,
                type: "post",
                dataType: "json",
                data: $('#edit-form').serialize(),
                url: getUrl("Notice", "Edit"),
                success: function (data) {
                    $dialogShow(data);
                    if (data.Type == "Success") {
                        $("#grid").trigger('reloadGrid');
                    }
                }
            });
        }
        //删除
        function del() {
            $dialogShow({
                Type: "confirm",
                Title: "删除",
                Content: "确定要删除所选条目吗？",
                SureFn: function (modal) {
                    $(modal).on('hidden.bs.modal', function () {
                        var ids = $("#grid").jqGrid('getGridParam', 'selarrrow');
                        $.ajax({
                            async: true,
                            type: "post",
                            dataType: "json",
                            data: { ids: ids },
                            url: getUrl("Notice", "Delete"),
                            success: function (data) {
                                $dialogShow(data);
                                if (data.Type == "Success") {
                                    $("#grid").trigger('reloadGrid');
                                }
                            }
                        });
                    }).modal("hide");
                }
            });
        }

        //打开设置权限
        function auth() {
            var id = $("#grid").jqGrid('getGridParam', 'selrow');
            window.location.href = getUrl("Authority", "RoleAuthority", {
                id: id,
                returnUrl: escape(window.location.href),
                menuName: menuName
            });
        }

        //查询
        function btnSearch() {
            var queryParams = $("#grid").jqGrid("getGridParam", "postData");
            $($("#search .form-control").serializeArray()).each(function (i, obj) {
                queryParams[obj.name] = obj.value;
            });
            $("#grid").jqGrid("setGridParam", { postData: queryParams }).trigger("reloadGrid");
        }

        //弹窗
        function op_Detail() {
            var id = $("#grid").jqGrid('getGridParam', 'selrow');
            $.ajax({
                type: "POST",
                dataType: "json",
                data: { id: id },
                url: getUrl("Notice", "Detal"),
                beforeSend: function () {
                    layer.load(0, { shade: false });
                },
                success: function (data) { //如果请求成功，返回数据
                    $.ajax({
                        url: getUrl("Notice", "Detal"),
                        dataType: 'html',
                        type: 'get',
                        success: function (html) {
                            layer.closeAll("loading");
                            layer.confirm(html, {
                                title: '<i class="fa fa-pencil"></i> 通知详情',
                                area: ['700px'],
                                btn: ['<i class="fa fa-save"></i>&nbsp;保存', '<i class="fa fa-times"></i>&nbsp;取消'],
                            }, function (v, box) {
                                edit();
                            });
                            $("#detal-form .form-control").bindData(data);
                            $("#detal-form input[name='SiteId']").select2("data", { id: data.SiteId, Name: data.SiteName });
                        }
                    });
                }
            });
        }

    </script>
}

