@{
    ViewBag.Title = "修改密码";
    Layout = "~/Areas/WeChat/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>修改密码</title>    
    <style>
        .text-left {
            margin-left: -20px;
            margin-right: 10px;
        }

        .text-right {
            margin-top: 5px;
        }

        .container-fluid {
            margin-bottom: 20px;
        }
    </style>   
</head>
<body>
    <div class="container-fluid">
        <input id="hidPicture" type="hidden" />
        <form class="form-horizontal">
            <div class="row" style="text-align: center; margin-top: 10px; margin-bottom: 10px;">
                <h2>修改密码</h2>
            </div>
            <div class="row">
                <div class="col-xs-4"><p class="text-right">旧密码</p></div>
                <div class="col-xs-8">
                    <p class="text-left"><input type="password" class="form-control" id="password" name="Password" placeholder="旧密码"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4"><p class="text-right">新密码</p></div>
                <div class="col-xs-8">
                    <p class="text-left"><input type="password" class="form-control" id="newPassword" name="NewPassword" placeholder="新密码"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4"><p class="text-right">确认密码</p></div>
                <div class="col-xs-8">
                    <p class="text-left"><input type="password" class="form-control" id="reNewPassword" name="ReNewPassword" placeholder="确认密码"></p>
                </div>
            </div>
            <div class="row" style="margin-top:10px;">
                <div class="col-xs-offset-4 col-xs-8">
                    <button type="button" class="btn blue" style="width:60%" id="btn_save" onclick="save()">保存</button>
                </div>
            </div>
        </form>
    </div>

    <script>
        function save() {
            $.ajax({
                url: "/jkt/WeChat/User/EditPassword",
                type: "post",
                data: {
                    Password: $("#password").val(),
                    NewPassword: $("#newPassword").val(),
                    ReNewPassword: $("#reNewPassword").val()                  
                },
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    if (data == "true") {
                        alert("修改成功!");
                        window.location.href = "/jkt/WeChat/User/Login?returnUrl={0}".format(unescape(document.referrer));
                    }
                    else
                        alert(data);
                }
            });
        }
    </script>

</body>
</html>