<div class="courseProjectGuidance-top"></div>
<div class="main">
    <div class="container">
        <div class="row margin-bottom-40">
            <div class="col-md-12 col-sm-12">
                <div class="content-page">
                    <div class="col-md-4 col-sm-4" id="projectTreeBox">
                        <div class="loading" style="line-height: 300px;height: 300px;text-align:center">
                            <img src="/Areas/Adm/Images/loading_5.gif" />
                        </div>
                        <ul class="list-unstyled projectTree" style="display: none; margin-top: 10px;">
                        </ul>
                    </div>
                    <div class="col-md-8 col-sm-8" id="projectDetailBox">
                        <div class="loading" style="line-height: 300px;height: 300px;text-align:center;display: none">
                            <img src="/Areas/Adm/Images/loading_5.gif" />
                        </div>
                        <div class="content-page" style="margin-top: 11px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>
@section body_js{
    <script src="~/Areas/Base/Scripts/kindeditor-4.1.10/kindeditor.js"></script>
    <script src="~/Areas/Base/Scripts/kindeditor-4.1.10/lang/zh_CN.js"></script>
    <script src="~/Areas/Base/Scripts/customer/plugin.extend.js"></script>
    <script type="text/javascript">
        //初始化
        $(function() {
            frontLayout({
                title: "思考练习",
                menuName: "ProjectGuidance"
            });

            //项目列表
            loadProjectTree({
                box: "#projectTreeBox",
                mode: 3,
                selectNode: function (nodeData) {
                    if (nodeData.Type != "task") {
                        return;
                    }

                    $.ajax({
                        type: "POST",
                        dataType: "json",
                        url: getUrl("Project", "Detail", { area: "Adm", id: nodeData.id }),
                        beforeSend: function () {
                            $("#projectDetailBox .loading").show();
                            $("#projectDetailBox .content-page").hide();
                        },
                        success: function (data) {
                            $("#projectDetailBox .loading").hide();
                            $("#projectDetailBox .content-page").show();

                            loadView("#projectDetailBox .content-page", getUrl("Home", "ProjectSubject"), {
                                success: function () {
                                    initProjectSubject(nodeData.id);
                                }
                            });
                        }
                    });
                }
            });
        });
    </script>
}
