<style>
    a{color:blue;}
</style>
<div class="container">
    <div class="student-top"></div>
</div>
<div class="main">
    <div class="container" style="padding-right: 30px;">
        <div class="portlet light">
            <div class="portlet-body row">

                @*检索条件*@
                <div class="form-group col-md-12" id="studentSearch">
                    <div class="col-md-12  padding-left-0">
                        <div class="col-md-6" style="text-align:left">
                            <div class="col-md-3 search-label">关键字</div>
                            <div class="col-md-8">
                                <input type="text" class="form-control input input-left" name="KeyWord" placeholder="资源名称、资源种类、发布人">
                            </div>
                            <div class="col-md-1">
                                <a href="javascript:;" class="btn blue" onclick="btnStudentSearch()">
                                    <i class="fa fa-search"></i> 检索
                                </a>
                            </div>
                        </div>
                        
                    </div>
                </div>
                @*显示数据的表格*@
                <div class="table-responsive col-md-12 margin-top-10">
                    <table class="table table-bordered" id="resourcePagerBox">
                        <thead>
                            <tr>
                                <th>
                                    #
                                </th>
                                <th>
                                    资源名称
                                </th>
                                <th>
                                    资源种类
                                </th>
                                <th>
                                    资源附件
                                </th>
                                <th>
                                    资源下载次数
                                </th>
                                <th>
                                    其他链接
                                </th>                                
                                <th>
                                    发布人
                                </th>
                                <th>
                                    发布时间
                                </th>
                                <th>
                                    描述
                                </th>
                            </tr>
                        </thead>
                        <tbody style="display: none" class="list">
                            <tr style="display: none" class="listTemplate" _id="{Id}">
                                <td width="40px">
                                    {Index}
                                </td>
                                <td>
                                    {Name}
                                </td>
                                <td>
                                    {Type}
                                </td>
                                <td>
                                    <a href="{Attachment}" onclick="count({Id});">{AttachmentName}</a>
                                </td>
                                <td>
                                    {DownLoadCount}
                                </td>
                                <td>
                                    <a href="{MyURL}" target="_blank">{MyURLName}</a>
                                </td>                               
                                <td>
                                    {TeacherName}
                                </td>
                                <td>
                                    {DateTime}
                                </td>
                                <td>
                                    {Description}
                                </td>
                            </tr>
                        </tbody>
                        <tbody class="loading">
                            <tr>
                                <td colspan="10" style="text-align: center">
                                    <img src="/Areas/Adm/Images/loading_5.gif" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="mt20" id="pageResourceDiv"></div>
                </div>

            </div>
        </div>
    </div>
</div>
@section head_style{
    <link href="/Areas/Base/Scripts/Metronicv/assets/global/plugins/select2/select2.css" rel="stylesheet" />
    <link href="/Areas/Base/Scripts/Metronicv/assets/global/css/plugins.css" rel="stylesheet" type="text/css">
    <link href="/Areas/Base/Scripts/Metronicv/assets/global/plugins/icheck/skins/all.css" rel="stylesheet" />
    <link href="/Areas/Base/Scripts/kindeditor-4.1.10/themes/default/default.css" rel="stylesheet" />
    <link href="/Areas/Base/Content/plugin.extend.css" rel="stylesheet" />
    <style>
        #resourcePagerBox .listTemplate.current {
            background: #FF83FA;
            color: #fff;
        }
    </style>
}
@section body_js{
    <script src="/Areas/Base/Scripts/Metronicv/assets/global/plugins/select2/select2.js"></script>
    <script src="/Areas/Base/Scripts/Metronicv/assets/global/plugins/select2/select2_locale_zh-CN.js"></script>
    <script src="/Areas/Base/Scripts/Metronicv/assets/global/plugins/icheck/icheck.min.js"></script>
    <script src="/Areas/Base/Scripts/formvalidation/dist/js/formValidation.js"></script>
    <script src="/Areas/Base/Scripts/formvalidation/dist/js/framework/bootstrap.js"></script>
    <script src="/Areas/Base/Scripts/formvalidation/dist/js/language/zh_CN.js"></script>
    <script src="/Areas/Base/Scripts/kindeditor-4.1.10/kindeditor.js"></script>
    <script src="/Areas/Base/Scripts/kindeditor-4.1.10/lang/zh_CN.js"></script>
    <script src="/Areas/Base/Scripts/customer/plugin.extend.js"></script>
    <script>
        //初始化
        $(function () {
            //母版页
            frontLayout({
                title: "资源管理",
                menuName: "Resource"
            });

            //插件
            $("#studentSearch input[name='ClassId']").select2({
                placeholder: "-请选择-",
                allowClear: true,
                formatSelection: function (item) { return item.Name; },
                formatResult: function (item) { return item.Name; },
                ajax: {
                    url: getUrl("Class", "Pager"),
                    dataType: "json",
                    type: 'post',
                    data: function (term, page) {
                        return {
                            PageSize: 999,
                            SortBy: "Id",
                            SortOrder: "asc"
                        };
                    },
                    results: function (data, page) {
                        var items = data.Rows;
                        var more = (page * 30) < data.TotalRecords;
                        $(items).each(function (i, item) {
                            item.id = item.Id.toString();
                            item.Name = item.Name;
                        });
                        if (page == 1) {
                            items.unshift({ id: "", Name: "-请选择-" });
                        }
                        return { results: items, more: more };
                    }
                }
            });

            //分页
            $("#pageResourceDiv").jqPager({
                url: getUrl("Resource", "Pager", { area: "Adm" }),
                pageNo: 1,
                pageSize: 10,
                pagerTempalte: "t2",
                sortBy: "Id",
                sortOrder: "desc",
                loadBefore: function () {
                    $("#resourcePagerBox .list").hide();
                    $("#resourcePagerBox .loading").show();
                },
                loadComplete: function (data) {
                    $("#resourcePagerBox .list").show();
                    $("#resourcePagerBox .loading").hide();

                    var rows = data.Rows;
                    var template = $("#resourcePagerBox .listTemplate").prop("outerHTML");
                    $("#resourcePagerBox .listTemplate").not(":first").remove();

                    $(rows).each(function (i, row) {
                        row.Index = i + 1;
                        row.DateTime = $formatDate(row.DateTime, "yyyy年MM月dd日");
                        $("#resourcePagerBox .listTemplate:last").after($(template.format(row)));
                    });
                    $("#resourcePagerBox .listTemplate").not(":first").show();

                    //点击事件
                    $("#resourcePagerBox .listTemplate").click(function () {
                        var lt = $(this);
                        $("#resourcePagerBox .listTemplate").removeClass("current");
                        $(lt).addClass("current");
                    });
                }
            });
        });

        //统计下载次数
        function count(id) {
            $.ajax({
                async: true,
                type: "post",
                dataType: "json",
                data: { id: id },
                url: getUrl("Resource", "AddDownLoadCount", { area: "Adm" }),
                success: function (data) {
                    $dialogShow(data);
                    if (data.Type == "Success") {
                        $("#pageHomeworkDiv").jqPager("gotoPage");
                    }
                }
            });
        }

        //查询
        function btnStudentSearch() {
            var queryParams = $("#pageResourceDiv").jqPager("getPostData");
            $($("#studentSearch .form-control").serializeArray()).each(function (i, obj) {
                queryParams[obj.name] = obj.value;
            });
            $("#pageResourceDiv").jqPager("gotoPage");
        }

    </script>
}


