﻿@{ Layout = null; }
<form action="#" id="seeanswer-form" class="form-horizontal" novalidate="novalidate">
    <input type="text" class="form-control hide" name="Id">
    <span class="required" aria-required="true"></span>答案附件
    <a style="font-size:24px; border:none" id="AnswerAttachment" name="AnswerAttachment" class="form-control"></a>
</form>
<script>
    //初始化
    $(function () {

    });



</script>
