<div class="video-top"></div>
<div class="main">
    <div class="container">
        <div class="row margin-bottom-40">
            <div class="col-md-12 col-sm-12">
                <div class="content-page">
                    @*<div class="col-md-4 col-sm-4" id="projectTreeBox">
                        <div class="loading" style="line-height: 300px;height: 300px;text-align:center">
                            <img src="/Areas/Adm/Images/loading_5.gif" />
                        </div>
                        <ul class="list-unstyled projectTree" style="display: none">
                        </ul>
                    </div>*@
                    <div class="col-md-2 col-sm-2">
                    </div>
                    <div class="col-md-8 col-sm-8" id="videoBox" style="text-align:center;">
                        <div class="loading" style="line-height: 300px;height: 300px;text-align:center;display: none">
                            <img src="/Areas/Adm/Images/loading_5.gif" />
                        </div>
                        <div class="content-page">
                            <div id="ckVideo"></div>
                            <div id="videoName" style="text-align:center;font-size:14px;margin-top:10px;"></div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section head_style{
    <style>
    .mix .img-box {
        text-align: center;
        overflow: hidden;
    }

    .mix .mix-inner {
        border: 3px solid #F2F2F2;
    }

    .mix.active .mix-inner {
        border: 3px solid #0da3e2;
    }

    .mix.used .img-box:after {
        content: "正在使用";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        padding: 3px 7px;
        color: #373c42;
        border: 0px solid #DDDDDD;
        font-weight: 900;
        border: 1px solid #e2c0c0;
        background: #DDDDDD;
    }

    .mix img {
        max-width: 100%;
        height: 210px;
        position: relative;
        display: inline;
    }

    .mix .label {
        position: absolute;
        width: 100%;
        height: 40px;
        bottom: -43px;
    }

    .mix .label-bg {
        background: #0da3e2;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .mix .label-text {
        color: #fff;
        position: relative;
        z-index: 500;
        padding: 5px 8px;
    }

    .mix .label-text a {
        color: #fff;
    }
</style>
}
@section body_js{
    <script src="/Areas/Base/Scripts/Metronicv/assets/global/plugins/jquery-mixitup/jquery.mixitup.min.js"></script>
    <script src="/Areas/Base/Scripts/ckplayer6.8/ckplayer/ckplayer.js"></script>
    <script src="/Areas/Base/Scripts/customer/plugin.extend.js"></script>
    <script>
        //初始化
        $(function() {
            frontLayout({
                title: "视频微课",
                menuName: "Video"
            });

            loadProjectTree({
                box: "#projectTreeBox",
                mode: 2,
                selectNode: function(nodeData) {
                    $.ajax({
                        type: "POST",
                        dataType: "json",
                        url: getUrl("ProjectInfo", "Pager", { area: "Adm", id: nodeData.id, ProjectId: nodeData.id }),
                        data: { Page: 1, Type: "Video", PageSize: 9999, SortBy: "CreateTime", SortOrder: "asc" },
                        beforeSend: function() {
                            $("#videoBox .loading").show();
                            $("#videoBox .content-page").hide();
                        },
                        success: function(data) {
                            $("#videoBox .loading").hide();
                            $("#videoBox .content-page").show();

                            $("#videoBox .mix").not(":first").remove();
                            $(data.Rows).each(function(i, row) {
                                var mix = $($("#videoBox .mix:first").prop("outerHTML").format(row));
                                $("#videoBox .mix-grid").append($(mix).removeClass("hide").show());
                            });

                            //插件
                            $("#videoBox .mix-grid").mixitup({
                                targetSelector: '.mix',
                                effects: ['fade'],
                                easing: 'snap',
                                onMixEnd: (function() {
                                    $('#videoBox .mix').hover(
                                        function() {
                                            $(this).find('.label').stop().animate({ bottom: 0 }, 200, 'easeOutQuad');
                                            $(this).find('img').stop().animate({ top: -30 }, 500, 'easeOutQuad');
                                        },
                                        function() {
                                            $(this).find('.label').stop().animate({ bottom: -43 }, 200, 'easeInQuad');
                                            $(this).find('img').stop().animate({ top: 0 }, 300, 'easeOutQuad');
                                        }
                                    );
                                    $('#videoBox .mix img').click(function() {
                                        $(opts.box).find('.mix').removeClass("active");
                                        $(this).closest(".mix").addClass("active");
                                    });
                                })()
                            });
                        }
                    });
                }
            });

            //视频
            $.ajax({
                type: "POST",
                dataType: "json",
                url: getUrl("ProjectInfo", "Detail", { area: "Adm", id: gloQs.id }),
                data: { id: gloQs.id },
                beforeSend: function() {
                    $("#videoBox .loading").show();
                    $("#videoBox .content-page").hide();
                },
                success: function (data) {
                    $("#videoBox .loading").hide();
                    $("#videoBox .content-page").show();
                    
                    console.log(data.Video);
                    var fileSuffix = data.Video.split(".")[data.Video.split(".").length - 1];

                    if (fileSuffix == "swf") {
                        var html = '<embed id="player" allowscriptaccess="always" src="' + data.Video +
                                   '" type="application/x-shockwave-flash" width="550" height="400" quality="high" />"';
                        $("#ckVideo").html(html);
                    }
                    else {
                        CkplayerHelper.init_det_ckplayer({
                            boxId: "ckVideo",
                            videoUrl: data.Video,
                            previewImg: data.Picture,
                            width: $("#ckVideo").width(),
                            height: $("#ckVideo").width() * 3 / 4
                        });
                    }
                    
                    $("#videoName").html(data.Name);
        }
        });
    });
    </script>
}