<div class="portlet">
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-pills col-md-8 no-margin-bottom" id="dictValue-grid-toolbar">
                    <li>
                        <button class="btn btn-sm purple" onclick="open_create_dictValue()">
                            <i class="fa fa-plus"></i>
                            增加
                        </button>
                    </li>
                    <li>
                        <button class="btn btn-sm purple toolbar-data" disabled="disabled" onclick="open_edit_dictValue()">
                            <i class="fa fa-pencil"></i>
                            编辑
                        </button>
                    </li>
                    <li>
                        <button class="btn btn-sm purple toolbar-datas" disabled="disabled" onclick="delete_dictValue()">
                            <i class="fa fa-trash"></i>
                            删除
                        </button>
                    </li>
                </ul>
                <div class="form-group col-md-4 no-margin-bottom padding-right-0" id="dictValue-search">
                    <div class="col-md-offset-2 col-md-10 padding-right-0">
                        <div class="input-group" style="text-align:left">
                            <input type="text" class="form-control input-sm input-circle-left" name="KeyWord" placeholder="数据名称、显示名称">
                            <span class="input-group-btn">
                                <a href="javascript:;" class="btn btn-sm purple  input-circle-right" onclick="search_dictValue()">
                                    <i class="fa fa-search"></i> 检索
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="table-scrollable col-md-12">
                    <table id="dictValue-grid"></table>
                    <table id="dictValue-gridPager"></table>
                </div>
            </div>
        </div>
        <div class="clearfix">
        </div>
    </div>
</div>
@section  body_js{
    <script>
        var dictKey = getDictKey(gloQs.key);

        //初始化
        $(function() {
            Metronic.init();
            Layout.init();
            admLayout({ menuName: "Gl.DictValue.Tree.{0}".format(gloQs.key) });

            //列表
            $("#dictValue-grid").jqGrid({
                treeGrid: true,
                treeGridModel: 'adjacency',   // treeGrid模式，跟json元数据有关  
                ExpandColumn: 'text',    // 一般设置第一行
                ExpandColClick: true,        // 是否可以点击
                //jsonReader: {           // 设置读取数据时的字段
                //    root: "rows",      // json中代表实际模型数据的入口  
                //    page: "nowPage",   // json中代表当前页码的数据  
                //    total: "total",    // json中代表页码总数的数据  
                //    records: "records", // json中代表数据行总数的数据  
                //    repeatitems: false, // 如果设为false，则jqGrid在解析json时，会根据name来搜索对应的数据元素 
                //    id: "code"          // 设置rowid
                //},
                treeReader: {           //设置树形显示时4个关键字段对应的返回数据字段
                    level_field: "level",      // 属性层级
                    parent_id_field: "parentId", //父级rowid 
                    leaf_field: "isLeaf",      //是否还有子级菜单
                    expanded_field: "expanded" //是否加载完毕
                },
                viewrecords: true,
                url: getUrl("dictValue", "TreeGrid"),
                pager: "#dictValue-gridPager",
                toolbar: "#dictValue-grid-toolbar",
                sortname: "Id",
                sortorder: "asc",
                postData: { KeyId: dictKey.Id },
                colModel: [
                    { name: 'Id', label: 'Id', key: true, hidden: true },
                    { name: 'text', label: "产业名称", width: 450 },
                    { name: 'Remark', label: '备注', width: 1200 }
                ],
                onSelectRow: function(rowId) {
                    $("#dictValue-grid").jqGrid('getGridParam', 'updateToolbar')("#dictValue-grid");
                },
                onSelectAll: function() {
                    $("#dictValue-grid").jqGrid('getGridParam', 'updateToolbar')("#dictValue-grid");
                },
                loadComplete: function() {
                    $("#dictValue-grid").jqGrid('getGridParam', 'updateToolbar')("#dictValue-grid");
                }
            });
        });

        //打开添加页面
        function open_create_dictValue() {
            $.ajax({
                url: getUrl("dictValue", "Create"),
                dataType: 'html',
                type: 'get',
                beforeSend: function () {
                    layer.load(0, { shade: false });
                },
                success: function (html) {
                    layer.closeAll("loading");
                    layer.confirm(html, {
                        title: '<i class="fa fa-plus"></i> 新增',
                        area: ['50%', '300'],
                        btn: ['<i class="fa fa-save"></i>&nbsp;保存', '<i class="fa fa-times"></i>&nbsp;取消']
                    }, function (v, box) {
                        create_dictValue();
                    });
                }
            });
        }

        //打开编辑页面
        function open_edit_dictValue() {
            var id = $("#dictValue-grid").jqGrid('getGridParam', 'selrow');

            $.ajax({
                async: false,
                type: "POST",
                dataType: "json",
                data: { id: id },
                url: getUrl("dictValue", "Detail"),
                beforeSend: function () {
                    layer.load(0, { shade: false });
                },
                success: function (data) {
                    layer.closeAll("loading");
                    $.ajax({
                        url: getUrl("dictValue", "Edit"),
                        dataType: 'html',
                        type: 'get',
                        success: function (html) {
                            layer.confirm(html, {
                                title: '<i class="fa fa-pencil"></i> 编辑',
                                area: ['50%', '300'],
                                btn: ['<i class="fa fa-save"></i>&nbsp;保存', '<i class="fa fa-times"></i>&nbsp;取消'],
                            }, function (v, box) {
                                edit_dictValue();
                            });

                            $("#dictValue-edit-form .form-control").bindData(data);
                        }
                    });
                }
            });
        }

        //添加
        function create_dictValue() {
            if (!$('#dictValue-create-form').formValidation("validate").data("formValidation").isValid()) return;

            var key = $getQueryString("key");
            var dictKey = getDictKey(key);
            //同步Kindeditor内容
            for (var i in KindEditor.instances) {
                if (KindEditor.instances.hasOwnProperty(i)) {
                    KindEditor.instances[i].sync();
                }
            }
            $("#dictValue-create-form input[name='dictValue.create.KeyId']").val(dictKey.Id);
            $.ajax({
                async: true,
                type: "post",
                dataType: "json",
                data: $('#dictValue-create-form').serialize(),
                url: getUrl("dictValue", "Create"),
                success: function(data) {
                    $dialogShow(data);
                    if (data.Type == "Success") {
                        $("#dictValue-grid").trigger('reloadGrid');
                        $("#dictValue-modal").modal("hide");
                    }
                }
            });
        }

        //编辑
        function edit_dictValue() {
            if (!$('#dictValue-edit-form').formValidation("validate").data("formValidation").isValid()) return;
            //同步Kindeditor内容
            for (var i in KindEditor.instances) {
                if (KindEditor.instances.hasOwnProperty(i)) {
                    KindEditor.instances[i].sync();
                }
            }
            $.ajax({
                async: true,
                type: "post",
                dataType: "json",
                data: $('#dictValue-edit-form').serialize(),
                url: getUrl("dictValue", "Edit"),
                success: function(data) {
                    $dialogShow(data);
                    if (data.Type == "Success") {
                        $("#dictValue-grid").trigger('reloadGrid');
                        $("#dictValue-modal").modal("hide");
                    }
                }
            });
        }

        //删除
        function delete_dictValue() {
            $dialogShow({
                Type: "confirm",
                Title: "删除",
                Content: "确定要删除所选条目吗？",
                SureFn: function(modal) {
                    $(modal).on('hidden.bs.modal', function() {
                        var ids = $("#dictValue-grid").jqGrid('getGridParam', 'selarrrow');
                        $.ajax({
                            async: true,
                            type: "post",
                            dataType: "json",
                            data: { ids: ids },
                            url: getUrl("dictValue", "Delete"),
                            success: function(data) {
                                $dialogShow(data);
                                if (data.Type == "Success") {
                                    $("#dictValue-grid").trigger('reloadGrid');
                                }
                            }
                        });
                    }).modal("hide");
                }
            });
        }

        //查询
        function search_dictValue() {
            var key = $getQueryString("key");
            var dictKey = getDictKey(key);
            var queryParams = { KeyId: dictKey.Id };
            $($("#dictValue-search .form-control").serializeArray()).each(function(i, obj) {
                queryParams[obj.name] = obj.value;
            });
            $("#dictValue-grid").jqGrid("setGridParam", { postData: queryParams, page: 1 }).trigger("reloadGrid");
        }

        //获取键
        function getDictKey(keyName) {
            var k = null;
            $.ajax({
                async: false,
                type: "post",
                dataType: "json",
                data: { key: keyName },
                url: getUrl("DictKey", "Detail"),
                success: function (data) {
                    k = data;
                }
            });
            return k;
        }
    </script>
}