<div class="portlet light">
    <div class="portlet-body">
        <div class="row">
            <div class="btn-group col-md-12">
                <ul class="nav nav-pills col-md-8 no-margin-bottom" id="knowledgeGrid-toolbar">
                    <li>
                        <button class="btn blue" onclick="open_createKnowledge()">
                            <i class="fa fa-plus"></i>
                            新增
                        </button>
                    </li>
                    <li>
                        <button class="btn blue toolbar-data" disabled="disabled" onclick="open_editKnowledge()">
                            <i class="fa fa-pencil"></i>
                            编辑
                        </button>
                    </li>
                    <li>
                        <button class="btn blue toolbar-datas" disabled="disabled" onclick="delKnowledge()">
                            <i class="fa fa-trash"></i>
                            删除
                        </button>
                    </li>
                </ul>
                <div class="form-group col-md-4 margin-bottom-0" id="searchKnowledge">
                    <div class="col-md-offset-2 col-md-10 padding-right-0">
                        <div class="input-group">
                            <input type="text" class="form-control input input-left" name="Picture" placeholder="关键字">
                            <span class="input-group-btn">
                                <a href="javascript:;" class="btn btn blue input-right" onclick="btnSearchKnowledge()">
                                    <i class="fa fa-search"></i> 检索
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="table-scrollable col-md-12">
                    <table id="knowledgeGrid"></table>
                    <table id="knowledgeGridPager"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    //初始化
    $(function () {
        //列表
        $("#knowledgeGrid").jqGrid({
            url: getUrl("ProjectInfo", "Pager"),
            pager: "#knowledgeGridPager",
            toolbar: "#knowledgeGrid-toolbar",
            sortname: "CreateTime",
            sortorder: "desc",
            postData: { SiteId: appInfo.site.Id, Type: "Picture", ProjectId: selectNode.id },
            colModel: [
                { name: 'Id', label: 'Id', key: true, hidden: true },
                { name: 'Name', label: '图片名称', width:'120' },
                { name: 'Picture', label: '图片路径' },
                { name: 'CreateTime', label: '创建时间', width: '120', formatter: 'datetime', formatoptions: { newformat: 'Y-m-d hh:mm:ss' } }
            ],
            onSelectRow: function (rowId) {
                $("#knowledgeGrid").jqGrid('getGridParam', 'updateToolbar')(this);
            },
            onSelectAll: function () {
                $("#knowledgeGrid").jqGrid('getGridParam', 'updateToolbar')(this);
            },
            loadComplete: function () {
                $("#knowledgeGrid").jqGrid('getGridParam', 'updateToolbar')(this);
                $("#knowledgeGrid").jqGrid('getGridParam', 'loadCompleteExt')(this);
            }
        });
    });

    //打开添加窗口
    function open_createKnowledge() {
        $.ajax({
            url: getUrl("ProjectInfo", "KnowledgeCreate"),
            dataType: 'html',
            type: 'get',
            beforeSend: function () {
                layer.load(0, { shade: false });
            },
            success: function (html) {
                layer.closeAll("loading");
                layer.confirm(html, {
                    title: '<i class="fa fa-plus"></i> 新增',
                    area: ['700px', '480px'],
                    btn: ['<i class="fa fa-save"></i>&nbsp;保存', '<i class="fa fa-times"></i>&nbsp;取消']
                }, function (v, box) {
                    createKnowledge();
                });

                $("#createKnowledge-form *[name='ProjectId']").val(selectNode.id);
            }
        });
    }

    //打开编辑窗口
    function open_editKnowledge() {
        var id = $("#knowledgeGrid").jqGrid('getGridParam', 'selrow');
        $.ajax({
            type: "POST",
            dataType: "json",
            data: { id: id },
            url: getUrl("ProjectInfo", "Detail"),
            beforeSend: function () {
                layer.load(0, { shade: false });
            },
            success: function (data) {
                $.ajax({
                    url: getUrl("ProjectInfo", "KnowledgeEdit"),
                    dataType: 'html',
                    type: 'get',
                    success: function (html) {
                        layer.closeAll("loading");
                        layer.confirm(html, {
                            title: '<i class="fa fa-pencil"></i> 编辑',
                            area: ['700px', '480px'],
                            btn: ['<i class="fa fa-save"></i>&nbsp;保存', '<i class="fa fa-times"></i>&nbsp;取消'],
                        }, function (v, box) {
                            editKnowledge();
                        });
                        $("#editKnowledge-form .form-control").bindData(data);
                        data.Picture && $("#editKnowledge-form .pictureBox .bg-img").attr("src", data.Picture);
                    }
                });
            }
        });
    }

    //添加
    function createKnowledge() {
        if (!$('#createKnowledge-form').formValidation("validate").data("formValidation").isValid()) return;
        $.ajax({
            async: true,
            type: "post",
            dataType: "json",
            data: $('#createKnowledge-form').serialize(),
            url: getUrl("ProjectInfo", "Create"),
            success: function (data) {
                $dialogShow(data);
                if (data.Type == "Success") {
                    $("#knowledgeGrid").trigger('reloadGrid');
                }
            }
        });
    }

    //编辑
    function editKnowledge() {
        if (!$('#editKnowledge-form').formValidation("validate").data("formValidation").isValid()) return;
        $.ajax({
            async: true,
            type: "post",
            dataType: "json",
            data: $('#editKnowledge-form').serialize(),
            url: getUrl("ProjectInfo", "Edit"),
            success: function (data) {
                $dialogShow(data);
                if (data.Type == "Success") {
                    $("#knowledgeGrid").trigger('reloadGrid');
                }
            }
        });
    }

    //删除
    function delKnowledge() {
        $dialogShow({
            Type: "confirm",
            Title: "删除",
            Content: "确定要删除所选条目吗？",
            SureFn: function (modal) {
                $(modal).on('hidden.bs.modal', function () {
                    var ids = $("#knowledgeGrid").jqGrid('getGridParam', 'selarrrow');
                    $.ajax({
                        async: true,
                        type: "post",
                        dataType: "json",
                        data: { ids: ids },
                        url: getUrl("ProjectInfo", "Delete"),
                        success: function (data) {
                            $dialogShow(data);
                            if (data.Type == "Success") {
                                $("#knowledgeGrid").trigger('reloadGrid');
                            }
                        }
                    });
                }).modal("hide");
            }
        });
    }

    //查询
    function btnSearchKnowledge() {
        var queryParams = $("#knowledgeGrid").jqGrid("getGridParam", "postData");
        $($("#searchKnowledge .form-control").serializeArray()).each(function (i, obj) {
            queryParams[obj.name] = obj.value;
        });

        $("#knowledgeGrid").jqGrid("setGridParam", { postData: queryParams }).trigger("reloadGrid");
    }
</script>


