<form id="createvideo-form" class="form-horizontal">
    <input type="hidden" class="form-control" name="Type" value="Video"/>
    <input type="hidden" class="form-control" name="ProjectId"/>
    <div class="form-body">
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label col-md-2">名称：</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" name="Name" />
                    <label for="Name"></label>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label class="col-md-2 control-label">预览图片</label>
                <div class="col-md-10 keImage">
                    <img class="bg-img" style="max-width: 600px; margin-bottom: 5px; width: 250px; height: 250px;"/>
                    <div class="input-group">
                        <div class="">
                            <input type="text" name="Picture" class="form-control" readonly="readonly">
                        </div>
                        <span class="input-group-btn">
                            <button type="button" class="btn blue"><i class="fa fa-photo"></i> 浏览</button>
                        </span>
                    </div>
                    <div class="text-align-left">
                        <label class="help-block">推荐尺寸：250 * 250</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label class="col-md-2 control-label">视频</label>
                <div class="col-md-10 keFile videoBox">
                    <div class="input-group">
                        <div class="">
                            <input type="text" name="Video" class="form-control" readonly="readonly">
                        </div>
                        <span class="input-group-btn">
                            <button type="button" class="btn blue"><i class="fa fa-photo"></i> 浏览</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    //初始化
    $(function () {
        //初始化插件
        KeHelper.createImage('.keImage');
        KeHelper.createFile('.keFile', { dirName: "ckplayerMedia" });
    });
</script>