<div class="portlet light">
    <div class="portlet-body">
        <div class="row">
            <div class="btn-group col-md-12">
                <ul class="nav nav-pills col-md-8 no-margin-bottom" id="grid-toolbar">
                    <li>
                        <button class="btn blue toolbar-datas" disabled="disabled" onclick="del()">
                            <i class="fa fa-trash"></i>
                            删除
                        </button>
                    </li>
                </ul>
                <div class="form-group col-md-4 margin-bottom-0" id="search">
                    <div class="col-md-offset-2 col-md-10 padding-right-0">
                        <div class="input-group">
                            <input type="text" class="form-control input input-left" name="KeyWord" placeholder="关键字">
                            <span class="input-group-btn">
                                <a href="javascript:;" class="btn btn blue input-right" onclick="btnSearch()">
                                    <i class="fa fa-search"></i> 检索
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="table-scrollable col-md-12">
                    <table id="grid"></table>
                    <table id="gridPager"></table>
                </div>
            </div>
        </div>
    </div>
</div>
@section  head_style{
}
@section  body_js{
    <script>
        //初始化
        $(function () {
            Metronic.init();
            Layout.init();
            admLayout({ menuName: "Adm.Home.CachePager" });

            //列表
            $("#grid").jqGrid({
                url: getUrl("Home", "CachePager"),
                pager: "#gridPager",
                toolbar: "#grid-toolbar",
                sortname: "CreateTime",
                sortorder: "desc",
                postData: { SiteId: appInfo.site.Id },
                colModel: [
                    { name: 'Key', label: '缓存键', key: true },
                    {
                        name: 'Value', label: '缓存值', formatter: function (value) {
                            return value && value.ignoreHtmlNbsp(200)
                        } }
                ],
                onSelectRow: function (rowId) {
                    $("#grid").jqGrid('getGridParam', 'updateToolbar')(this);
                },
                onSelectAll: function () {
                    $("#grid").jqGrid('getGridParam', 'updateToolbar')(this);
                },
                loadComplete: function () {
                    $("#grid").jqGrid('getGridParam', 'updateToolbar')(this);
                    $("#grid").jqGrid('getGridParam', 'loadCompleteExt')(this);
                }
            });
        });

        //删除
        function del() {
            $dialogShow({
                Type: "confirm",
                Title: "删除",
                Content: "确定要删除所选条目吗？",
                SureFn: function (modal) {
                    $(modal).on('hidden.bs.modal', function () {
                        var ids = $("#grid").jqGrid('getGridParam', 'selarrrow');
                        $.ajax({
                            async: true,
                            type: "post",
                            dataType: "json",
                            data: { keys: ids },
                            url: getUrl("Home", "CacheDelate"),
                            success: function (data) {
                                $dialogShow(data);
                                if (data.Type == "Success") {
                                    $("#grid").trigger('reloadGrid');
                                }
                            }
                        });
                    }).modal("hide");
                }
            });
        }

        //查询
        function btnSearch() {
            var queryParams = $("#grid").jqGrid("getGridParam", "postData");
            $($("#search .form-control").serializeArray()).each(function (i, obj) {
                queryParams[obj.name] = obj.value;
            });

            $("#grid").jqGrid("setGridParam", { postData: queryParams }).trigger("reloadGrid");
        }
    </script>
}
