<div class="row">
    <div class="col-md-12">
        <div class="portlet light min-height500">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-edit"></i>
                    <span class="caption-subject font-green-sharp bold uppercase">修改密码</span>
                </div>
            </div>
            <div class="portlet-body form">
                <form action="javascript:;" class="form-horizontal" id="user-edit-form">
                    <div class="box-hidden">
                        <input type="text" class="form-control" name="User.edit.Account" style="display: none" />
                        <input type="password" class="form-control" style="visibility:hidden;height:0px;overflow:hidden" />
                    </div>
                    <div class="form-body">
                        <div class="note note-warning">
                            <h4>你正在修改账号“<strong id="m_userAccount"></strong>”的密码，请确保是本人操作！</h4>
                        </div>
                        <div class="form-group form-md-line-input">
                            <label class="control-label col-md-3"><span class="required"> * </span>密码：</label>
                            <div class="col-md-6">
                                <input type="password" class="form-control" name="User.edit.Password" placeholder="请输入新密码" />
                                <label for="Name"></label>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input">
                            <label class="control-label col-md-3"><span class="required"> * </span>确认密码：</label>
                            <div class="col-md-6">
                                <input type="password" class="form-control" name="User.edit.Password2" placeholder="请再次确认密码" />
                                <label for="Name"></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="button" class="btn purple" onclick="btnSave()">
                                    <i class="fa fa-save"></i>
                                    确认修改
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section  body_js{
    <script>
        //初始化
        $(function () {
            Metronic.init();
            Layout.init();
            admLayout({ menuName: "Gl.User.ModifyPassword" });
            $("#m_userAccount").html(zsa.loginUser.Account);
            $("input[name='User.edit.Account']").val(zsa.loginUser.Account);

            //表单验证
            $('#user-edit-form').formValidation({
                verbose: false,
                fields: {
                    "User.edit.Password": {
                        validators: {
                            notEmpty: {
                                message: '密码不能为空.'
                            }
                        }
                    },
                    "User.edit.PassWord2": {
                        validators: {
                            notEmpty: {
                                message: '请再次输入密码.'
                            },
                            identical: {
                                field: 'User.edit.PassWord',
                                message: '前后密码输入不一致.'
                            }
                        }
                    }
                }
            });
        });

        //确认修改
        function btnSave() {
            if (!$('#user-edit-form').formValidation("validate").data("formValidation").isValid()) return;

            $.ajax({
                async: true,
                type: "post",
                dataType: "json",
                data: $('#user-edit-form').serialize(),
                url: getUrl("User", "ModifyPassword"),
                success: function (data) {
                    $dialogShow(data);
                    if (data.Type == "Success") {
                        setTimeout(function () {
                            
                        }, 500);
                    }
                }
            });
        }
    </script>
}


