<div class="portlet light">
    <div class="portlet-body">
        <div class="row">
            <div class="form-group col-md-12 padding-bottom-10" id="search">
                <div class="col-md-12  padding-left-0">
                    <div class="col-md-4" style="text-align:left">
                        <div class="search-label">关键字</div>
                        <div class="col-md-9">
                            <input type="text" class="form-control input input-left" name="KeyWord" placeholder="账号、姓名">
                        </div>
                    </div>
                    <div class="col-md-4" style="text-align:left">
                        <div class="search-label">班级</div>
                        <div class="col-md-9">
                            <input type="text" class="form-control input input-left" name="ClassId">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <a href="javascript:;" class="btn btn blue" onclick="btnSearch()">
                            <i class="fa fa-search"></i> 检索
                        </a>
                    </div>
                </div>
            </div>
            <div class="btn-group col-md-12" id="grid-toolbar">
                <ul class="nav nav-pills col-md-8 no-margin-bottom">
                    <li>
                        <button class="btn blue" onclick="open_create()">
                            <i class="fa fa-plus"></i>
                            新增
                        </button>
                    </li>
                    <li>
                        <button class="btn blue toolbar-data" disabled="disabled" onclick="open_edit()">
                            <i class="fa fa-pencil"></i>
                            编辑
                        </button>
                    </li>
                    <li>
                        <button class="btn blue toolbar-datas" disabled="disabled" onclick="del()">
                            <i class="fa fa-trash"></i>
                            删除
                        </button>
                    </li>
                    <li class="search-split">
                        |
                    </li>
                    <li>
                        <button class="btn blue" onclick="openImportExcel()">
                            <i class="fa fa-external-link"></i>
                            导入
                        </button>
                    </li>
                </ul>
            </div>
            <div class="col-md-12">
                <div class="table-scrollable">
                    <table id="grid"></table>
                    <table id="gridPager"></table>
                </div>
            </div>
        </div>
    </div>
</div>
@section  body_js{
    <script>
        //初始化
        $(function() {
            Metronic.init();
            Layout.init();
            admLayout({ menuName: "Adm.User.TeacherPager" });

            //插件
            $("#search input[name='ClassId']").select2({
                placeholder: "-请选择-",
                allowClear: true,
                formatSelection: function (item) { return item.Name; },
                formatResult: function (item) { return item.Name; },
                ajax: {
                    url: getUrl("Class", "Pager"),
                    dataType: "json",
                    type: 'post',
                    data: function (term, page) {
                        return {
                            PageSize: 999,
                            SortBy: "Id",
                            SortOrder: "asc"
                        };
                    },
                    results: function (data, page) {
                        var items = data.Rows;
                        var more = (page * 30) < data.TotalRecords;
                        $(items).each(function (i, item) {
                            item.id = item.Id.toString();
                            item.Name = item.Name;
                        });
                        if (page == 1) {
                            items.unshift({ id: "", Name: "-请选择-" });
                        }
                        return { results: items, more: more };
                    }
                }
            });

            //列表
            $("#grid").jqGrid({
                url: getUrl("User", "Pager"),
                pager: "#gridPager",
                toolbar: "#grid-toolbar",
                sortname: "CreateTime",
                sortorder: "desc",
                postData: { SiteId: appInfo.site.Id, RoleId: 137 },
                colModel: [
                    { name: 'Id', label: 'Id', key: true, hidden: true },
                    { name: 'Account', label: '账号' },
                    { name: 'RealName', label: '姓名' },
                    { name: 'Telephone', label: '电话' },
                    {
                        name: 'Status',
                        label: '账号状态',
                        formatter: function(value) {
                            if (value == "NotActivate") return "<span class=\"label label-sm label-danger\">未激活</span>";
                            else if (value == "Normal") return "<span class=\"label label-sm label-success\">正常</span>";
                            else if (value == "Stop") return "<span class=\"label label-sm label-default\">停用</span>";
                            return "";
                        }
                    },
                    { name: 'CreateTime', label: '创建时间', formatter: 'date', formatoptions: { newformat: 'Y-m-d' } }
                ],
                onSelectRow: function(rowId) {
                    $("#grid").jqGrid('getGridParam', 'updateToolbar')(this);
                },
                onSelectAll: function() {
                    $("#grid").jqGrid('getGridParam', 'updateToolbar')(this);
                },
                loadComplete: function() {
                    $("#grid").jqGrid('getGridParam', 'updateToolbar')(this);
                    $("#grid").jqGrid('getGridParam', 'loadCompleteExt')(this);
                }
            });
        });

        //打开添加窗口
        function open_create() {
            $.ajax({
                url: getUrl("User", "TeacherCreate"),
                dataType: 'html',
                type: 'get',
                beforeSend: function() {
                    layer.config({
                        extend: 'extend/layer.ext.js',
                        zIndex: 200
                    });
                    layer.load(0, { shade: false });
                },
                success: function(html) {
                    layer.closeAll("loading");
                    layer.confirm(html, {
                        title: '<i class="fa fa-plus"></i> 新增用户',
                        area: ['900px', '550px'],
                        btn: ['<i class="fa fa-save"></i>&nbsp;保存', '<i class="fa fa-times"></i>&nbsp;取消']
                    }, function(v, box) {
                        create();
                    });
                }
            });
        }

        //打开编辑窗口
        function open_edit() {
            var id = $("#grid").jqGrid('getGridParam', 'selrow');
            $.ajax({
                type: "POST",
                dataType: "json",
                data: { id: id },
                url: getUrl("User", "Detail"),
                beforeSend: function() {
                    layer.config({
                        extend: 'extend/layer.ext.js',
                        zIndex: 200
                    });
                    layer.load(0, { shade: false });
                },
                success: function(data) {
                    $.ajax({
                        url: getUrl("User", "TeacherEdit"),
                        dataType: 'html',
                        type: 'get',
                        success: function(html) {
                            layer.closeAll("loading");
                            layer.confirm(html, {
                                title: '<i class="fa fa-pencil"></i> 编辑用户',
                                area: ['900px', '550px'],
                                btn: ['<i class="fa fa-save"></i>&nbsp;保存', '<i class="fa fa-times"></i>&nbsp;取消'],
                            }, function(v, box) {
                                edit();
                            });
                            data.PassWord2 = data.PassWord;
                            $("#edit-form .form-control").bindData(data);
                            $("#edit_Province").trigger("change");
                            $("#edit_City").val(data.City);
                            $("#edit_City").trigger("change");
                            $("#edit_Area").val(data.Area);
                            data.Photo && $("#imgPicture").attr("src", data.Photo);
                            if (data.Classes) {
                                var classData = [];
                                $(data.Classes).each(function(i, d) {
                                    classData.push({ id: d.Id, Name: d.Name});
                                });
                                $("#edit-form input[name='ClassIds']").select2("data", classData);
                            }
                        }
                    });
                }
            });
        }

        //添加
        function create() {
            if (!$('#create-form').formValidation("validate").data("formValidation").isValid()) return;
            $.ajax({
                async: true,
                type: "post",
                dataType: "json",
                data: $('#create-form').serialize(),
                url: getUrl("User", "TeacherCreate"),
                success: function(data) {
                    $dialogShow(data);
                    if (data.Type == "Success") {
                        $("#grid").trigger('reloadGrid');
                    }
                }
            });
        }

        //编辑
        function edit() {
            if (!$('#edit-form').formValidation("validate").data("formValidation").isValid()) return;
            $.ajax({
                async: true,
                type: "post",
                dataType: "json",
                data: $('#edit-form').serialize(),
                url: getUrl("User", "TeacherEdit"),
                success: function(data) {
                    $dialogShow(data);
                    if (data.Type == "Success") {
                        $("#grid").trigger('reloadGrid');
                    }
                }
            });
        }

        //删除
        function del() {
            $dialogShow({
                Type: "confirm",
                Title: "删除",
                Content: "确定要删除所选条目吗？",
                SureFn: function(modal) {
                    $(modal).on('hidden.bs.modal', function() {
                        var ids = $("#grid").jqGrid('getGridParam', 'selarrrow');
                        $.ajax({
                            async: true,
                            type: "post",
                            dataType: "json",
                            data: { ids: ids },
                            url: getUrl("User", "Delete"),
                            success: function(data) {
                                $dialogShow(data);
                                if (data.Type == "Success") {
                                    $("#grid").trigger('reloadGrid');
                                }
                            }
                        });
                    }).modal("hide");
                }
            });
        }

        //打开导入excel
        function openImportExcel() {
            $.ajax({
                url: getUrl("User", "TeacherImportExcel"),
                dataType: 'html',
                type: 'get',
                beforeSend: function () {
                    layer.load(0, { shade: false });
                },
                success: function (html) {
                    layer.closeAll("loading");
                    layer.confirm(html, {
                        title: '<i class="fa fa-external-link"></i> 导入用户',
                        area: ["700px"],
                        btn: ['<i class="fa fa-external-link"></i>&nbsp;导入', '<i class="fa fa-times"></i>&nbsp;取消']
                    }, function (v, box) {
                        importExcel();
                    });
                }
            });

        }

        //导入excel
        function importExcel() {
            var url = $("#importExcel-form [name='Excel']").val();
            $.ajax({
                type: "POST",
                url: getUrl("User", "TeacherImportExcel"),
                dataType: "json",
                data: { url: url },
                success: function (data) {
                    $dialogShow(data);
                    if (data.Type == "Success") {
                        $("#grid").jqGrid("setGridParam").trigger("reloadGrid");
                        editor.hideDialog();
                    }
                }
            });
        }

        //查询
        function btnSearch() {
            var queryParams = $("#grid").jqGrid("getGridParam", "postData");
            $($("#search .form-control").serializeArray()).each(function(i, obj) {
                queryParams[obj.name] = obj.value;
            });

            $("#grid").jqGrid("setGridParam", { postData: queryParams }).trigger("reloadGrid");
        }
    </script>
}


