<link href="~/Areas/Base/Scripts/bootstrap/datetimepicker/css/bootstrap-datetimepicker.css" rel="stylesheet" />
<link href="~/Areas/Base/Scripts/bootstrap/datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<script src="~/Areas/Base/Scripts/bootstrap/datetimepicker/js/bootstrap-datetimepicker.js"></script>
<script src="~/Areas/Base/Scripts/bootstrap/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script src="~/Areas/Base/Scripts/bootstrap/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>

<form id="create-form" class="form-horizontal" novalidate="novalidate">
    <div class="form-body">

        <div class="float-left" style="width: 45%">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label col-md-4">
                        <span class="required" aria-required="true">* </span>资源名称
                    </label>
                    <div class="col-md-8">
                        <input type="text" name="create.Name" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label col-md-4">
                        <span class="required" aria-required="true">* </span>分享老师
                    </label>
                    <div class="col-md-8">
                        <input type="text" name="create.UserIds" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label col-md-4">
                        <span class="required" aria-required="true">* </span>资源类型
                    </label>
                    <div class="col-md-8">
                        <select name="Type" class="form-control">
                            <option value="课件">课件</option>
                            <option value="教学大纲" selected="selected">教学大纲</option>
                            <option value="讲义">讲义</option>
                            <option value="其他">其他</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label col-md-4">
                        发往班级 <span class="required" aria-required="true">
                        </span>
                    </label>
                    <div class="col-md-8">
                        <input type="text" name="create.ClassIds" data-required="1" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="float-left" style="width: 45%">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label col-md-4">
                        <span class="required" aria-required="true">* </span>附件
                    </label>
                    <div class="col-md-8">
                        <input id="Attachment" type="text" name="create.Attachment" data-required="1" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label col-md-4">
                        <span class="required" aria-required="true">* </span>附件名称
                    </label>
                    <div class="col-md-8">
                        <input type="text" name="create.AttachmentName" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label col-md-4">
                        <span class="required" aria-required="true">* </span>链接
                    </label>
                    <div class="col-md-8">
                        <input id="MyURL" type="text" name="create.MyURL" class="form-control">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label col-md-4">
                            <span class="required" aria-required="true">* </span>链接名称
                        </label>
                        <div class="col-md-8">
                            <input type="text" name="create.MyURLName" class="form-control">
                        </div>
                    </div>
                </div>  
            </div>

        </div>

        <div class="float-left" style="width: 90%">

            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-md-2 control-label">描述</label>
                    <div class="col-md-10">
                        <textarea class="form-control" name="create.Description" rows="3"></textarea>
                    </div>
                </div>
            </div>

        </div>

        
    </div>

</form>

<script>
    //初始化
    $(function () {
        //初始化插件
        $("#create-form input[name='create.UserIds']").select2({
            placeholder: "-请选择-",
            allowClear: true,
            formatSelection: function (item) { return item.RealName; },
            formatResult: function (item) { return item.RealName; },
            closeOnSelect: true,
            multiple: true,
            ajax: {
                url: getUrl("User", "TeacherPager"),
                dataType: "json",
                type: 'post',
                data: function (term, page) {
                    return {
                        PageSize: 999,
                        SortBy: "Id",
                        SortOrder: "asc"
                    };
                },
                results: function (data, page) {
                    var items = data.Rows;
                    var more = (page * 30) < data.TotalRecords;
                    $(items).each(function (i, item) {
                        item.id = item.Id.toString();
                        item.Name = item.Name;
                    });
                    if (page == 1) {
                        items.unshift({ id: "", Name: "-请选择-" });
                    }
                    return { results: items, more: more };
                }
            }
        });
        $("#create-form input[name='create.ClassIds']").select2({
            placeholder: "-请选择-",
            allowClear: true,
            formatSelection: function (item) { return item.Name; },
            formatResult: function (item) { return item.Name; },
            closeOnSelect: true,
            multiple: true,
            ajax: {
                url: getUrl("Class", "Pager"),
                dataType: "json",
                type: 'post',
                data: function (term, page) {
                    return {
                        PageSize: 999,
                        SortBy: "Id",
                        SortOrder: "asc"
                    };
                },
                results: function (data, page) {
                    var items = data.Rows;
                    var more = (page * 30) < data.TotalRecords;
                    $(items).each(function (i, item) {
                        item.id = item.Id.toString();
                        item.Name = item.Name;
                    });
                    if (page == 1) {
                        items.unshift({ id: "", Name: "-请选择-" });
                    }
                    return { results: items, more: more };
                }
            }
        });
        //表单验证
        $('#create-form').formValidation({
            verbose: false,
            fields: {
                "create.Name": {
                    validators: {
                        notEmpty: {
                            message: '资源名不能为空.'
                        }
                    }
                },
                "create.ClassIds": {
                    validators: {
                        notEmpty: {
                            message: '发往班级不能为空.'
                        }
                    }
                }

            }
        });
    });


    var editor = KindEditor.editor({
        uploadJson: '/Areas/Base/Scripts/kindeditor-4.1.10/asp.net/upload_json.ashx',
        fileManagerJson: '/Areas/Base/Scripts/kindeditor-4.1.10/asp.net/file_manager_json.ashx',
        allowFileManager: true
    });
    KindEditor('#Attachment').click(function () {
        editor.loadPlugin('insertfile', function () {
            editor.plugin.fileDialog({
                fileUrl: KindEditor('input[name="create.Attachment"]').val(),
                
                clickFn: function (url, title) {
                    KindEditor('input[name="create.Attachment"]').val(url);
                    KindEditor('input[name="create.AttachmentName"]').val(title);
                    $("input[name='create.Attachment']").val(url);
                    $("input[name='create.AttachmentName']").val(title);
                    $.ajax({
                        type: "POST",
                        url: "/Homework/Create",
                        data: { url: url, title: title },
                        success: function (data) {
                            editor.hideDialog();
                            $("input[name='create.AttachmentName]'").val(title);
                            //$("#grid").datagrid('reload');
                        }
                    });
                }
            });
        });
    });


</script>